


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
#container{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(16, 1fr);
    background-color: white;

}


.cellDiv{
    display: flex; 
    border: 1px solid black;
    height: 30px;
    width: 30px;
}


#buttons{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 8px;
}
.btn-invisible {
    display: none;
 }